
body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: [header] 1fr [content] 3fr;
    grid-template-columns: 1fr;

    font-family: sans-serif;
}

.icon-anchor{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-anchor img{
    width: 2.2rem;
    height: 2.2rem;
    padding: 1rem;
}

.header{
    grid-row-start: 1;
    grid-row-end: 2;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    background-color: linear;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,.8)),url(images/logo.svg);
}

.cards__list{
    display: flex;
    grid-row-start: 2;
    grid-row-end: 4;
    font-size: 1.3rem;
    column-gap: 3rem;
    padding: 1rem;
}

.card{
    max-width: 25rem;
    height: 30rem;

    border: 1px solid red;
    border-radius: 15px;
}

.card__details{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.card__image
{
    display: flex;
    justify-content: center;
}

.card__image img  {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.card__title{
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.car__properties{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car__properties div {
    height: 3rem;
}

.price{
    color: red;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
}

