
@media screen and (min-width:481px) and (max-width:768px) {
    
    .cards__list{
        display: flex;
        flex-direction: column;
        grid-row-start: 2;
        grid-row-end: 4;
        row-gap: 1rem;
        align-items: center;
        padding: 0;
        padding-top: 1rem;
    }

    .card{
        width: 100%;
        max-width: 100%;
        height: 45rem;
    }

    .car__properties div {
        height: 2rem;
    }

    .price {
        font-size: 1.5rem;
    }

    .icon-anchor img{
        width: 1.8rem;
        height: 1.8rem;
        padding: .5rem;
    }
}